public class Package {
    private String recipient;
    private int arrivalDate = 0;
    private double weight;

    /**
     * takes in the recipient, arrival, and weight of all packages
     * @param recipient
     * @param arrivalDate
     * @param weight
     */
    public Package(String recipient, int arrivalDate, double weight) {
        this.recipient =recipient;
        this.arrivalDate =arrivalDate;
        this.weight =weight;
    }
    public Package() {

        }

    /**
     * gets the recipient name
     * @return
     */
        public String getRecipient () {
            return recipient;
        }

    /**
     * sets the recipient name
     * @param recipient
     */
        public void setRecipient (String recipient){
            this.recipient = recipient;
        }

    /**
     * gets the arrival date
     * @return
     */
        public int getArrivalDate () {
            return arrivalDate;
        }

    /**
     * sets the arrival date
     * @param arrivalDate
     */
        public void setArrivalDate ( int arrivalDate){
            this.arrivalDate = arrivalDate;
        }

    /**
     * gets the weight
     * @return
     */
        public double getWeight () {
            return weight;
        }

    /**
     * sets the weight
     * @param weight
     */
        public void setWeight ( double weight){
            this.weight = weight;
        }

    /**
     * to string method for print statements
     * @return
     */
    public String toString () {
            return getRecipient() + " " + getArrivalDate() + " " + getWeight() + " ";
        }

    }
